{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

We have variety of products

{% endblock %}
{% block title %}
Search
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search_text">You have Searched for
        <b>{{query}}</b>
    </p>
</div>

 <section style="background-color: #eee;">
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <a href="{{product.get_url}}">
                            <img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.price}}</p>
                            <p class="card-text">{{product.description}}</p>
                        </div>

                    </div>
                </div>
             {% empty %}


            <div class="row mx_auto">
                <p class="text-center my_search">0 Result found

                </p>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}