.nav-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;
}
.dropdown-item{
letter-spacing:.2em;
font-size:14px;
text-transform:uppercase;


}
body{
font-family: 'Roboto', sans-serif;

}
.my_footer p{
padding top:20px;
font-size:14px

}
.my_footerfooter{
background-color:#E7E7EA;
}
row my_row_class{
padding-top:15px;
}
. row my_row_class mx-auto{
color:#660066;
font-size:12px;
}
.my-image{
width:100%;
height:auto;

}
.my-title{
font-size:16px;
text-transform:uppercase;
letter-spacing:.2em;
}
.my-image my-image-padding{
padding:5px;
height:200px;
}
.my-bottom-margin{
margin-bottom:10px;
}
.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;

}
.text-center my-title h1{
color:#000099;
font-size:25px;
}
.card-img-top{
    height:300px


}
/* Add padding to the col-md-6 elements */
.col-md-6 {
    padding: 20px; /* Adjust the padding as needed */

}

/* Add styling to the buttons */
.btn-light {
    background-color: green; /* Customize the background color */
    color: black; /* Customize the text color */
    border: 1px solid gray; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    padding: 5px 15px; /* Adjust the padding as needed */
    margin-right: 10px; /* Adjust the right margin between buttons */
}

/* Adjust the gap between the col-md-6 elements */
.col-gap {
    margin-top: 20px; /* Adjust the top margin to create a gap */
}
.input_class{
  padding: 10px 30px ; /* Adjust the padding as needed */
}
h3{
  padding:30px 40px 50px 20px
}
.btn btn-secondary{
  padding-left:50px;
}


.my_prod_row_class{
padding-top:15px;
padding-bottom:20px;

}
.my_prod_row_class .mx_auto{
color:black;
font-size:12px;
text_decoration:none;


}
.my_prod_title{
font-size:16px;
text-transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;

}
.my_prod_text{
padding-right:20px;
}
/* Add this CSS to your stylesheet */
.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Set a fixed height for the card */
    border: 2px solid #ccc; /* Optional: Add a border for visual separation */
}

.card img {
    /* Maintain a consistent aspect ratio for the image */
    flex-grow: 1;
    width: 100%; /* Expand the image to fill the available width */
    object-fit: cover; /* Maintain the image aspect ratio and cover the entire card */
}
.my_search_text{
padding-top:20px;
}
.my_custom_table{
  min-width:400px;
  font-size:14px;
}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-size:.2em;
    background-color:#C9E2C9;
}
.custom_a{
  text_decoration:none;
}
.custom_icon{
   text_decoration:none;
   color:#FADBD8
}
.my_custom_button{
  margin-top:5px;
}
